:root {
  --teal-bg: #659aa5;
  --hover-colour: #1e3f6d;
  --accent-colour: #772b48;
  --text-colour: #141414;
  --off-white: rgb(252, 251, 241);

  --responsive-admin-panel-sidebar-text: clamp(1.5rem, 1vw + 0.6rem, 2rem);

  --responsive-title: clamp(1.5rem, 1vw + 1rem, 2rem);
  --responsive-title-side-card: clamp(0.8rem, 0.7vw + 0.7rem, 1.5rem);
  --responsive-text: clamp(1rem, 0.7vw + 0.5rem, 1.5rem);
  --responsive-text-side-card: clamp(0.7rem, 0.6vw + 0.5rem, 1rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--off-white);
}

.grid-container {
  /* text-align: center; */
  min-height: 100dvh;
  /* padding: 1rem; */

  display: grid;
  grid-template-columns: minmax(250px, 0.2fr) 1fr;
  grid-template-rows: auto 2fr;
  /* gap: 0.5rem; */
}

/*? ============================================================================= */
/*? ||                              **NAVBAR**                                 || */
/*? ============================================================================= */

.nav-main {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: auto minmax(0.2fr, 0.5fr) auto;
  grid-template-rows: repeat(2, auto);

  gap: 0.5rem;
  padding: 2rem 2.5rem;

  background-color: var(--teal-bg);
  box-shadow: 0px 0px 10px 3px rgba(110, 111, 125, 0.8);
}

.search-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  place-self: center;

  grid-column: span 2;
}

.search-bar {
  width: 100%;
  min-width: 10%;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
}

.search-icon-placeholder::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
  padding: 0.5rem 1rem;
  position: relative;
  top: 4px;
}

.profile-greeting {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  grid-row: 2;
  grid-column: span 2;

  padding-left: 1rem;
  color: var(--off-white);
}

.profile-greeting svg {
  width: 50px;
}

.greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.greeting-text p {
  font-size: var(--responsive-title);
  font-weight: 500;
}

.greeting-text h2 {
  font-size: var(--responsive-admin-panel-sidebar-text);
  font-weight: 500;
}

/* ?--------NAV BUTTON STYLING--------?*/

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  grid-row: 2;
}

.nav-btn {
  width: 20%;
  min-width: 100px;
  height: 40px;
  place-self: center;
  position: relative;
  top: 4px;

  font-size: 1.2rem;
  font-weight: 500;

  border: none;
  border-radius: 25px;
  padding: 0 1.2rem;

  text-align: center;
  text-decoration: none;
  background: var(--hover-colour);
  color: var(--off-white);
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: var(--accent-colour);
  color: var(--off-white);
}

/* ?--------PROFILE BANNER STYLING--------?*/

.profile-banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 1rem;
  color: var(--off-white);
}

.banner-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner-item svg {
  width: 40px;
}

/*? ============================================================================= */
/*? ||                              **SIDEBAR**                                || */
/*? ============================================================================= */

.sidebar {
  background-color: var(--teal-bg);
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 20px 0.3fr;
  gap: 0.5rem;

  align-items: center;

  border-right: 14px solid var(--accent-colour);
  box-shadow: 0px 199px 10px 3px rgba(110, 111, 125, 0.8);
}

.user-sidebar-nav {
  padding-top: 2rem;

  grid-row: 1;
}

.sidebar-settings {
  grid-row: 3;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  padding-bottom: 1rem;

  position: relative;
  top: -15px;
}

.sidebar .logo p {
  font-weight: 600;
  font-size: var(--responsive-admin-panel-sidebar-text);

  color: var(--off-white);
}

.sidebar svg {
  display: inline-block;
  width: 45px;

  color: var(--off-white);
}

.sidebar-item {
  display: grid;
  grid-template-columns: auto auto;
  place-content: start;
  gap: 1rem;

  padding: 1rem;
  font-size: var(--responsive-admin-panel-sidebar-text);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.user-sidebar-nav > .sidebar-item:not(:first-child):hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--hover-colour);
}

.sidebar-settings > .sidebar-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--hover-colour);
}

.sidebar-item a {
  text-decoration: none;
  font-weight: 600;

  transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar-item a,
#selected {
  color: var(--hover-colour);
}

.sidebar-item a {
  color: var(--off-white);
}

/*? ============================================================================= */
/*? ||                              **MAIN**                                   || */
/*? ============================================================================= */
main {
  /* border: solid 1px green; */
  padding: 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 80px 0.5fr;
  grid-template-rows: auto 1fr;
}

.main-grid h2 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-colour);
}

.card-grid {
  grid-column: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(365px, 400px));

  gap: 1.5rem;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;

  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 280px;
  max-width: 100%;
  max-height: 90%;

  border-bottom: 6px solid var(--accent-colour);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-title {
  grid-row: 1;
  font-size: var(--responsive-admin-panel-sidebar-text);
}

.title-2 {
  grid-column: 3;
}

.main-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.main-card h4 {
  font-size: var(--responsive-title);
  color: var(--text-colour);
}

.main-card p {
  font-size: var(--responsive-text);
  color: var(--text-colour);
  line-height: 1.4;
  width: 100%;
}

.side-card-grid {
  grid-column: 3;
  display: grid;
  grid-template-rows: 0.8fr auto 1fr;
}

.side-card {
  grid-column: 2;
  grid-row: 1;

  max-height: 100%;
  max-width: 90%;
  min-width: 250px;
  margin: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 6px solid var(--accent-colour);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  line-height: 1.4;
}

.side-card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.side-card p {
  font-size: var(--responsive-text-side-card);
  color: var(--text-colour);
  padding-bottom: 0.5rem;
  margin-bottom: 0.2rem;
}

.side-card > p:nth-last-child(n + 2) {
  border-bottom: 2px solid var(--accent-colour);
}

.side-card h5 {
  font-size: var(--responsive-title-side-card);
  color: var(--text-colour);
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.side-card-2 {
  grid-column: 2;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.card-2 {
  display: grid;
  grid-template-columns: 0.3fr 1fr;

  align-items: center;
}

.card-2 svg {
  width: 70px;
}
